<h2>Learn about the Sun Party Sector</h2>

<p>"I'm Dweella," says the flippered creature. "Your host with the most!" The little alien twirls in the air with flippers out like propellers.</p>
<p>A high, playful melody beams down from the sun, and the other creatures cheer. </p>
<p>You laugh and introduce yourself.</p>
<p>"Now introduce yourself to our sun, {{user.name}}!" says Dweela.</p>
<p>You jump and wave at the giant pink star. She chimes a catchy tune in reply. Dwella sways at the hips, flippers up high. Others copy the dance, and the sun pulses a thumping beat.</p> 
<p>"See!" calls Dweela. "We keep her shining with our dancing and play!"</p>
<p>"What?" you reply. "How does that work?"</p>
<p>"Come on, {{user.name}} love," calls a deep-voiced, furry creature who boogies up next to Dweela.</p>
<p>"Get down with us, soul child!"</p>
<p>Would you like to have Dweela explain more about how this sector's sun works? Or, accept your new friend's invitation and bust a move."
<div class = "buttonDiv">
<button class ="button" ng-click="enThinking()">Learn about the sun</button><button class ="button" ng-click="enFeeling()">Bust a move</button><br><br>
<input type="Submit" value="START OVER" ng-click="home()" class ="button home" ></input>
</div>