<h2>Explore the Blue Star Asteriods</h2>

				<p>"Asteroids make music," Garge begins. "Every crystal is new song. Miners need songs for life." </p>
				<p>"So their music is your food?" you ask.</p>
				<p>"Aye," says Garge. "But now, not enough crystals. Asteriods stop growing songs. Geera's asteriod become too hard. She too weak to mine now."</p>
				<p>"Let's take your song crystal to Geera," you suggest.</p>
				<p>Garge cocks his head at you. "Give crystal to another? Miner never take song from home. Song belong to asteriod."</p>
				<p>"But Geera needs help!" you cry. "Don't you think the asteriod will understand.!"</p>
				<p>"Asteroid become sad!" Garge replies. "Make " scratching the point of one ear. "Always like this."</p>
				<div class = "buttonDiv"
				<button class ="button" ng-click="inFeeling()">Go here</button><button class ="button" ng-click="inThinking()">or go here</button><br><br>

				<input type="Submit" value="START OVER" ng-click="home()" class ="button home" ></input>
				</div>