<h2>Mine song crystals</h2>

				<p>"Okay, Garge," you say. "Show me the crystals!"</p>
				<p>With a "Whoopee!" Garge leads you down the little tunnel from which he came. You worm your way down the narrow, jagged hole. Along the way, Garge tells you that song crystals are the most prized treasures in the solar system. When shaken, each crystal chimes a unique melody that nourishes the miners like food.</p>
				<p>"So you don't eat real food?" you ask.</p>
				<p>"Only asteriod gets in our mouth," Garge replies. "But we spit it out after crunching."</p>
				<p>"You mean you dig with your mouth?" you ask with surprise.</p>
				<p>"Try it, {{user.name}}. You may like it!"
				<p>Garge leads you into a ball-shaped cave. It's lit by several outcroppings of glowing pink crystals.</p>
				<p>He begins to chomp on the rock around the outcroppings, loosening the crystals.</p>
				<p>"What are you waiting for, {{user.name}}?" he calls, spitting rock.</p>
				<p>Should you join Garge and try some rock munching? It won't be pleasant, but you could risk hurting his feelings if you don't try.</p>
				<p>Or should you just explain to Garge that you're not designed for asteriod chomping? It seems a lot more logical to figure out another way to help him.</p>
				<div class ="buttonDiv">
				<button class ="button" ng-click="isFeeling()">Try to eat the asteriod</button><button class ="button" ng-click="isThinking()">Find a better way to help</button><br><br>

				<input type="Submit" value="START OVER" ng-click="home()" class ="button home" ></input>
				</div>

	