<h2>You let Skyfoot win</h2>

				<p>You forget about winning and surrender to the rush of the air. You flip and twirl to the cheers of the crowd below. You even strike a superhero pose at the top of your jump. Everyone claps when you roll off the trampoline.</p>
				<p>The contest continues with several more matches. Skyfoot advances to the finals and is soon crowned Jump Champion once again.</p>

				<p>"Last but not least," Belfor announces. "For inspiring fun and joy, our Jump Spirit award goes to {{user.name}}!"</p>
				<p> Your jaw drops with surprise as he places a golden crown on your head. The cheering crowd gathers around as Belfor lifts you up on his shoulders.</p>
				<p>"{{user.name}}!" "{{user.name}}!" "{{user.name}}!" creatures begin to chant as the sun pounds triumphant music.</p>
				<p>"Now everyone follow me to the space worm races!" Belfor calls.</p>
				<p>The next few hours are filled with laughter and play. You ride the space worms with no hands. You teach Skyfoot how to disco during the low-gravity dance off. And during the glow-seed hunt, you eat a few and make everyone laugh. Finally, the pink sun dips below the horizon and the music begins to fade, Belfor pulls you aside.</p>
				<p>"Today's pary will soon be over," he says. "And you have made it the best one ever. Will you say a few words to everyone before we return to our planets? I'll call everyone over now, if you want."</p>
				<p>Do you want Belfor to call everyone now? You'll have to improvise your speech, go with the flow, and trust your heart to speak.</p> 

				<p>Would you rather wait to gather your thoughts first? You'll be able to plan out what you want to say so you don't mess up this chance to speak to an intergallactic community.</p>

		
				<br>
				<br>
				<div class ="buttonDiv"><button class ="button" ng-click="esfp()">Go with the flow</button><button class ="button" ng-click="esfj()">Plan your speech</button><br><br>

				<input type="Submit" value="START OVER" ng-click="home()" class ="button home" ></input></div>