<h2>You try to eat the asteriod</h2>

				<p>As you begin to chew on the rock near Garge, you're surpised to discover that it's sweet. With a little effort, it crumbles in your mouth like a piece of hard candy. You're no match for Garge though, who chomps whole craters in seconds before spitting them out in a sticky pile. But he doesn't seem to mind your slow pace.</p>
				<p>"Whoopee, {{user.name}}!" he calls merrily. "Look out, song crystals. The best mining team in the 'verse is after ya!"</p>
				<p>You chew for some time before finally pulling a long, beautiful shard free. It chimes a catchy tune, and Garge cheers.</p>
				<p>"Keep it, {{user.name}}," he says. "Your first crystal is the most special. And it'll help ya not forget me."</p>
				<p>You hug the jolly miner. "I don't think you have to worry about that, Garge!"</p>
				<p>"I've got an idea," he says, follow me! You return with him to the surface. He leaps up with all his might, and you gasp when he doesn't come back down. "Follow me!" me calls as he floats towards a nearby asteriod.</p>
				<p>You leap towards him and land after a minute on a much larger rock with many more holes.</p>
				<p>Garge shakes his crystal. The little melody resonates across the rocky surface. A moment later, the ground errupts as another miner, larger and darker than Garge, errupts from it.</p>
				<p>"Gron," Garge calls. "Meet {{user.name}} from Earth. {{user.name}} has taught me a new way, a better way to mine!"</p>
				<p>"Ho {{user.name}} from Earth," Gron says. "Teach me."</p>
				<p>The thing is, you're not sure what Garge is talking about. Should you just go with the flow and make your best guess? Who know what good, surpising thing you'll tell Gron. Or does it make more sense to ask Garge to explain. This way both you and Gron will understand clearly what he's talking about.</p>

				<div class ="buttonDiv">
				<button class ="button" ng-click="isfp()">Go with the flow</button><button class ="button" ng-click="isfj()">Have Garge explain</button><br><br>

				<input type="Submit" value="START OVER" ng-click="home()" class ="button home" ></input>
				</div>