
.text {
/*	border-width: 10px !important;
	border-color: gold !important;*/
	border: 7px solid red;
	border-radius: 7px;
	padding: 10px;
	padding-color: gold !important;
	text-align:left;
	background-color: black !important;
	padding-bottom: 25px;
	margin: 20px auto;

	
}

br {

line-height: 10%;
}
.container {

  margin: 0 auto;
  width: 720px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  text-align: left;
  position: relative;
  color:gold;
  background-color: #000050;

  background-image: url("http://41.media.tumblr.com/754116daaee501ae103441bb06f50f22/tumblr_mqvzu0DpkI1sdgezwo3_400.png");

 

}

.rocket {


position:absolute;
display: inline;
max-height: 300px;
max-width: 300px;
width: 80px;
height: 140px;
	margin-top: 15px;


}


nav {
font-weight: bold;
display: inline-block;
font-size: 20px;
padding-top: 0px;
margin-top:0;

}

.input {
border-width: 2px;
border-color: white;
background-color: black;
color:white;
width: 240px;
height:30px;
font-size: 18px;
font-family: Courier New;
position: relative;
display: inline;
}


h1 {
	margin-top: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1.2;
	font-size: 114px;
	font-family: Impact;
	font-weight: bold;
	-webkit-text-fill-color: gold; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
   display: inline;
   position: relative;


   

}

h2 {
font-size: 22px;
text-align: center;


}

i {
font-size: 30px;
color: white;
font-family: Arial Black;
line-height: .8;
margin-bottom: 10px;
padding-bottom: 10px;
text-align: left;
margin-left: 0;
padding-left: 0;

}
.volunteerMatch {
	background-color:white;
}

form {

text-align: center;
}
.buttonDiv {

text-align: center;
position: relative;

}

.button {
background-color: red;
color:white;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
font-family: Impact;
/*text-decoration: none;*/
overflow:hidden;
word-wrap: break-word;
width: auto;
height:auto;
border-radius: 6px;
border-width: 2px;
font-size: 26px;
cursor: pointer;
border-color: gold;
-webkit-box-shadow: 0px 9px 0px rgba(200, 11, 2, 0.5), 0px 9px 25px rgba(0, 0, 0, .3);
-moz-box-shadow: 0px 9px 0px rgba(200, 11, 2, 0.5), 0px 9px 25px rgba(0, 0, 0, .3);
box-shadow: 0px 9px 0px rgba(200, 11, 2, 0.5), 0px 9px 25px rgba(0, 0, 0, .3);
display: inline-block;
text-align: center;
position: relative;
margin: 10px;
/*left: 4.4125em*/
}

.button:hover {
border-color: white;
color:gold;

}

.begin {
left: 0em;
font-size: 56px;

}


.go {

left: 8.8525em
}





.home {
position: relative;
/*left: 9.4125em*/
}
