
.text {
/*	border-width: 10px !important;
	border-color: gold !important;*/
	border: 7px solid white;
	border-radius: 7px;
	padding: 10px;
	padding-color: gold !important;
	text-align:left;
	background-color: black !important;


	
}

.container {

  margin: 0 auto;
  width: 480px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  text-align: center;
  position: relative;
  color:gold;
  background-color: #000050;

  background-image: url("http://41.media.tumblr.com/754116daaee501ae103441bb06f50f22/tumblr_mqvzu0DpkI1sdgezwo3_400.png");

 

}

.rocket {

/*float: right;*/

}


nav {
font-weight: bold;
display: inline-block;
font-size: 20px;
padding-top: 0px;
margin-top:0;

}

.input {
border-width: 2px;
border-color: white;
background-color: black;
color:white;
width: 240px;
height:30px;
font-size: 18px;
font-family: Courier New;
}


h1 {
	margin-bottom: 0;
	font-size: 64px;
	font-family: Impact;
	font-weight: bold;
	   -webkit-text-fill-color: gold; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
   

}

.volunteerMatch {
	background-color:white;
}

form {

text-align: center;
}

.button {
background-color: red;
color:white;
      -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
font-family: Arial Black;
text-decoration: none;
width: 160px;
height:50px;
border-radius: 22px;
border-width: 2px;
font-size: 26px;
cursor: pointer;
border-color: gold;

}