<p>Bored of waiting till you're "grown up" to make a difference in the world? Find out where you can start helping people NOW!</p><margin>
<p>Strap yourself into the Cause Rocket, and blast off on an out-of-this world adventure. Along the way, you'll learn a lot about yourself and how you make decisions.</p><margin>

<p>When you're ready to return to earth, you'll have a great idea about where you should start changing it. <b>We'll suggest volunteer opportunities near you that match up well with your personality.</b></p><margin>
<p>Call the Cause Rocket by entering your name and where you live. Then push the big red button!</p>
<form ng-submit="createUser()">
	<input class ="input" ng-model="newUser.name" placeholder="Your first name">
	<input class ="input" ng-model="newUser.city" placeholder="Your zip code"><br><br>

	<input  class ="button begin" type="submit" ng-click="start()" value ="BEGIN!">
</form>


		
		<div ng-repeat="user in users">
			
			
			

		</div>
