
				<h2>Location: {{user.city}}</h2>
				<h2>Touchdown in 3... 2... 1...</h2>

				<p>PHOOM! The thunderous sound of metal crunching earth jolts you from your seat. You dash to the window and can hardly believe your eyes. A round, pointed rocket ship, about the size of your bedroom, has landed nose up in the middle of the street! You suck in your breath at the sight of the shiny vessel and bolt outside as fast as you can. </p>

				<p>As you approach the ship, a circular, red hatch pops open like a spring-loaded lid, bouncing once off the rocket's sky-blue hull. Your heart pounds. You know this is your invitation. And you know what separates people who change the world - they ACT when their invitation comes.</p><margin>
				<p>But do you really want to risk it? Who knows what dangers you'll be facing? And who knows if you'll have what it takes? Staring at the open hatch, you realize this is your last chance to turn back.</p><margin>
				


			<div class ="buttonDiv">
				<button class = "button" ng-click="intro2()">CLIMB ABOARD</button>
			
		
			
<input type="Submit" value="TURN BACK" ng-click="home()" class ="button home" ></input>
			</div>
		