				<h2>Welcome aboard, {{user.name}}!</h2>

				<p>Gathering all your courage, you grab the rim of the hatch and scramble inside the rocket. You find yourself in a small cockpit that darkens when you pull the hatch closed. There's a high-backed chair taking up most of the space. It's lit by the red light of shiny buttons on a panel in front of it. </p>

				<p>On the wall above the panel, a wide screen flickers on. A pair of digital, yellow eyes blink twice before settling on you. "Strap yourself in, {{user.name}}," says the screen in a high, electronic voice. "And choose your destination."</p>
				<p>You examine the buttons before you. Only two of them are lit up now. You read them thoughtfully as the Cause Rocket continues.</p>
				<p>"The Sun Party sector is the biggest party in the galaxy. Life forms from across the universe will be there, and you'll probably be the center of attention. If you enjoy doing exciting things in big groups with lots of interesting people, push this button.</p>

				<p>"The Bluestar Asteriod Belt is filled with wonders beyond your imagination. It's perfect for beings who prefer to explore at their own pace. You'll be on your own more often, but you're sure to meet others from time to time and make a few good friends. If you like to think about things in your own head more than saying them out loud, you'll love all the ideas that these asteriods give you."</p>
				


				<div class ="buttonDiv"> <button class = "button" ng-click="extroversion()">Sun Party Sector</button> <button class = "button" ng-click="introversion()">Bluestar Asteriod Belt</button><br><br>


			
<input type="Submit" value="START OVER" ng-click="home()" class ="button home" ></input></div>
		