<h2>Destination: Sun Party Sector</h2>

				<p>The rocket blasts off, squishing you like clay in your seat. The screen changes to a window view, and you gasp as stars swish by in ribbons of light.</p>
				<p>Before you know it, bright light floods the cockpit. Your stomach leaps into your chest as the rocket slows down and lands with a thud.</p>
				<p>The hatch pops open. Shakily, you stand up and lean out. Hundreds of creatures in all shapes and colors are dancing in a bright, wide meadow. Thumping harmonies sound from the sky. Looking up, you see a huge, pink and yellow sun pulsing to the beat.</p>
				<p>"Welcome to the party," a chorus of voices calls out in unison. Looking back down, you see a group of colorful creatures waving at you with arms, antennae and other things.</p>
				<p>You scramble out of the rocket, and notice how light you feel. You could probably jump a hundred feet! "Is this your first sun party?," asks a little bobble-headed creature with flippers. Ask us anything you like!"</p>

				<p>Before you can form a question, several of the group begin to bounce away. "The Jump Contest is about to begin!" they call as they soar through the air towards a large circle of beings that has formed in the center of the meadow. "Come join us!"</p>

				<p>Go join the Jump Contest if you'd like to experience the sun party with all your senses as soon as possible. If you'd rather get your bearings first and learn what the Sun Party Sector is all about, stay and ask some questions.</p> 

				<div class ="buttonDiv">
				<button class ="button" ng-click="eSensing()">Join the Jump Contest</button><button class ="button" ng-click="eIntuition()">Learn About the Sun Party Sector</button><br><br>

				<input type="Submit" value="START OVER" ng-click="home()" class ="button home" ></input></div>