<h2>Destination: Bluestar Asteriod Belt</h2>

				<p>The rocket blasts off, squishing you like clay in your seat. Before long, a hard thunk jolts the rocket sideways. Thunk, thunk, crunch! You've landed, or crashed... you've definately stopped.</p>
				<p>The hatch pops open. Shakily, you pull yourself out. You're standing on an asteriod about the size of a city block. There are dozens of little holes tunneling down inside several large craters. Above you, thousands of other asteriods are floating in a ring around a giant, blue star.</p>
				<p>Dazzled by the beautiful blue light, you don't notice the growing rumble beneath your feet until the ground in front of you errupts. A small, goblin-like creature springs up with a high-pitched "Whoopeee!" He holds a large, pink rock up above his pointy-eared head. It's jagged and shiny, and chimes out a high, five-note melody. </p>
				<p>"Delicious!" he whoops, and begins to kicks his stubby legs out in a happy dance. "Yum, yum, yum!"</p>
				<p>He stops after a moment, his single eye finally noticing you. "Ho, strange creature," he says. "What brings you to my song crystal mine?"</p>
				<p>You introduce yourself and tell him about the cause rocket. He grins a rock-toothed smile.</p>
				<p>"Happy to have you, {{user.name}}," he says. "I'm Garge. You're welcome to explore the Blue Star Asteroids as much as you want. Want to help me mine more crystals?"</p>
				<p>If you like to experience things hands on as soon as possible, then help Garge mine crystals.</p>
				<p>If you'd rather get your bearings first and explore a bit, ask Garge to tell you more about the area.</p>

			
				<div class ="buttonDiv">
				<button class ="button" ng-click="iSensing()">Mine song crystals</button><button class ="button" ng-click="iIntuition()">Explore first</button><br><br>

				<input type="Submit" value="START OVER" ng-click="home()" class ="button home"></input>
				</div>