<h2>Destination: Bluestar Asteriod Belt</h2>

				<p>The rocket blasts off, squishing you like clay in your seat. The screen switches to a view port, and you gasp as stars swish by in ribbons of light.</p>
				<p>After a minute, a hard thunk jolts the rocket sideways. You cling to your seat as large, blue-lit rocks begin to fly past the view port. Thunk, thunk, crunch! You've landed, or crashed... you've definately stopped.</p>
				<p>The hatch pops open. Shakily, you pull yourself out. You're standing on an asteriod about the size of a city block. Besides several large craters, there are dozens of little holes tunneling down. Above you, thousands of other asteriods are floating in a ring around a giant, blue star that billows like an ocean.</p>
				<p>Dazzled by the beautiful blue light, you don't notice the growing vibration beneath your feet until the ground in front of you suddenly errupts. A small, goblin-like creature springs up with a gravely "Whoopeee!" He holds a large, pink rock up above his pointy-eared head. It's jagged and shiny, and rings a high, five-note melody for a moment. </p>
				<p>"I'm rich!" he whoops, and begins to kicks his stubby legs out in a happy dance. "Rich, rich, rich!"</p>
				<p>He stops after a moment, his single, large eye finally noticing the rocket on its side and you in front of it. "Hey ho, strange creature," he says. "What brings you to my song crystal mine?"</p>
				<p>You introduce yourself and tell him about the cause rocket. He grins a rock-toothed smile.</p>
				<p>"Happy to have you, {{user.name}}," he says. "I'm Garge. You're welcome to explore the Blue Star Asteroids as much as you want. Want to help me mine more crystals?"</p>
				<p>Help Garge mine more crystals if you like to get hands-on with stuff as soon as possible.</p>
				<p>If you'd rather get your bearings first and explore a bit, ask Garge to tell you more about the area.</p>

			
				<div class ="buttonDiv">
				<button class ="button" ng-click="iSensing()">Mine song crystals</button><button class ="button" ng-click="iIntuition()">Explore first</button><br><br>

				<input type="Submit" value="START OVER" ng-click="home()" class ="button home"></input>
				</div>